---
---

$linkColor: #1e6bb8;

@import "{{ site.theme }}";

.logo-wrapper {
    text-align: center;
}

.navigation {
    text-align: center;

    .btn {
        color: $linkColor;
        border-color: $linkColor;

        &:hover {
            color: #fff;
            background-color: $linkColor;
            border-color: #fff;
        }
    }
}

.lesson .page-header {
    @media screen and (min-width: 64em) {
        & {
            padding: 3rem 6rem;
        }
    }

    @media screen and (max-width: 64em) and (min-width: 42em) {
        & {
            padding: 2rem 4rem;
        }
    }

    @media screen and (max-width: 42em) {
        & {
            padding: 2rem 1rem;
        }
    }
}